<mat-toolbar>
    <span>פרטי הבוגר</span>
</mat-toolbar>

<div class="container">
    <br>
    <div class="row">
        <span style="font-size: 28px;" class="col-md-8">{{graduate.Name}}</span>

        <div class="col-md-4" style="text-align: center;">
            <!-- <button (click)="openCVFile()" mat-icon-button>
                <mat-icon matTooltip='פתיחת קובץ קו"ח'>insert_drive_file</mat-icon>
           </button>  -->
            <a target="_blank" href="http://localhost:50748/resumeFile/206672834.pdf" mat-icon-button>
                <mat-icon matTooltip='פתיחת קובץ קו"ח'>insert_drive_file</mat-icon>
            </a>‏
            <a routerLink="/graduate-editing/{{graduate.Id}}" routerLinkActive="activeLink" mat-icon-button>
                <mat-icon matTooltip="עריכה">edit</mat-icon>
            </a>
            <button (click)="openDeletionDialog()" mat-icon-button>
                <mat-icon matTooltip="מחיקה">delete</mat-icon>
            </button>


        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col-md-8">
            <table>
                <tr>
                    <td class="title"><b>ת"ז</b></td>
                    <td>{{graduate.Id}}</td>
                </tr>
                <tr>
                    <td class="title"><b>מגדר</b></td>
                    <td>{{graduate.Gender=='ז'?"זכר":"נקבה"}}</td>
                </tr>
                <tr>
                    <td class="title"><b>עיר</b></td>
                    <td>{{graduate.City}}</td>
                </tr>
                <tr>
                    <td class="title"><b>טלפון</b></td>
                    <td>{{graduate.Phone}}</td>
                </tr>
                <tr>
                    <td class="title"><b>דוא"ל</b></td>
                    <td style="direction: ltr;">{{graduate.Email}}</td>
                </tr>
                <tr>
                    <td class="title"><b>פעיל?</b></td>
                    <td>{{graduate.IsInterested?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title"><b>עובד?</b></td>
                    <td>{{graduate.IsWorking?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title"><b>קו"ח?</b></td>
                    <td>{{graduate.LinkToCV?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title"><b>תאריך</b></td>
                    <td>{{graduate.myDate|date:'MM/dd/yyyy'}}</td>
                </tr>
                <tr>
                    <td class="title"><b>ת"ז</b></td>
                    <td>{{graduate.Id}}</td>
                </tr>
                <tr>
                    <td class="title"><b>עיר</b></td>
                    <td>{{graduate.City}}</td>
                </tr>
                <tr>
                    <td class="title"><b>טלפון</b></td>
                    <td>{{graduate.Phone}}</td>
                </tr>
                <tr>
                    <td class="title"><b>דוא"ל</b></td>
                    <td style="direction: ltr;">{{graduate.Email}}</td>
                </tr>
                <tr>
                    <td class="title"><b>פעיל?</b></td>
                    <td>{{graduate.IsInterested?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title"><b>עובד?</b></td>
                    <td>{{graduate.IsWorking?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title"><b>קו"ח?</b></td>
                    <td>{{graduate.LinkToCV?"כן":"לא"}}</td>
                </tr>
            </table>
            <br><br>
            <mat-divider></mat-divider>
            <br><br>
        </div>
    </div>
    <br><br>
    <br><br>

</div>