<mat-toolbar>
    <span>פרטי הבוגר</span>
</mat-toolbar>

<div class="container">
    <br>
    <div class="row">
        <span style="font-size: 28px;" class="col-md-8">{{graduate.firstName}}&nbsp;{{graduate.lastName}}</span>
        <div class="col-md-4" style="text-align: center;">
            <!-- <button (click)="openCVFile()" mat-icon-button>
                <mat-icon matTooltip='פתיחת קובץ קו"ח'>insert_drive_file</mat-icon>
           </button>  -->
            <a target="_blank" [disabled]="!graduate.linkToCV" [href]="service.URL+graduate.linkToCV" mat-icon-button>
                <mat-icon matTooltip='פתיחת קובץ קו"ח'>insert_drive_file</mat-icon>
            </a>‏
            <a routerLink="/graduate-editing/{{graduate.Id}}" routerLinkActive="activeLink" mat-icon-button>
                <mat-icon matTooltip="עריכה">edit</mat-icon>
            </a>
            <button (click)="openDeletionDialog()" mat-icon-button>
                <mat-icon matTooltip="מחיקה">delete</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table>
                <tr>
                    <td class="title">ת"ז:</td>
                    <td>{{graduate.Id}}</td>
                </tr>
                <tr>
                    <td class="title">תאריך לידה:</td>
                    <td>{{graduate.dateOfBirth|date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <td class="title">מגדר:</td>
                    <td>{{graduate.gender}}</td>
                </tr>
                <tr>
                    <td class="title">עיר:</td>
                    <td>{{graduate.City.name}}</td>
                </tr>
                <tr>
                    <td class="title">כתובת:</td>
                    <td>{{graduate.address}}</td>
                </tr>
                <tr>
                    <td class="title">מיקוד:</td>
                    <td>{{graduate.zipCode}}</td>
                </tr>
                <tr>
                    <td class="title">טלפון:</td>
                    <td>{{graduate.phone}}</td>
                </tr>
                <tr>
                    <td class="title">דוא"ל:</td>
                    <td style="direction: ltr;">{{graduate.email}}</td>
                </tr>
                <tr>
                    <td class="title"> שפות נוספות:</td>
                    <td>
                        <li *ngFor="let l of graduate.Languages">{{l.languageName}}&nbsp;{{l.level==1?"-שפת אם":""}}</li>
                    </td>
                </tr>
                <tr>
                    <td class="title">שלוחה:</td>
                    <td>{{graduate.Branch.name}}</td>
                </tr>
                <tr>
                    <td class="title">תחום הכשרה:</td>
                    <td>{{graduate.Expertise.name}}</td>
                </tr>
                <tr>
                    <td class="title">שנת תחילת לימודים:</td>
                    <td>{{graduate.startYear}}</td>
                </tr>
                <tr>
                    <td class="title">שנת סיום לימודים:</td>
                    <td>{{graduate.endYear}}</td>
                </tr>
                <tr>
                    <td class="title">תאריך רישום במערכת:</td>
                    <td>{{graduate.dateOfRegistration|date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <td class="title">סטטוס לימודים:</td>
                    <td>{{graduate.didGraduate?"בוגר":"לומד"}}</td>
                </tr>
                <tr>
                    <td class="title">מדופלם?</td>
                    <td>{{graduate.hasDiploma?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title">עובד בתחום?</td>
                    <td>{{graduate.isWorkerInProfession?"כן":"לא"}}</td>
                </tr>
                <tr *ngIf="graduate.isWorkerInProfession">
                    <td class="title">שם החברה:</td>
                    <td>{{graduate.companyName}}</td>
                </tr>
                <tr *ngIf="graduate.isWorkerInProfession">
                    <td class="title">תפקיד:</td>
                    <td>{{graduate.role}}</td>
                </tr>
                <tr *ngIf="graduate.isWorkerInProfession">
                    <td class="title">הושם ע"י מחלקת ההשמה?</td>
                    <td>{{graduate.placedByThePlacementDepartment?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title">נסיון מקצועי בתחום?</td>
                    <td>{{graduate.hasExperience?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title">פעיל? </td>
                    <td>{{graduate.isActive?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title">קו"ח?</td>
                    <td>{{graduate.linkToCV?"כן":"לא"}}</td>
                </tr>
                <tr>
                    <td class="title">תאריך עדכון אחרון:</td>
                    <td>{{graduate.lastUpdate|date:'dd/MM/yyyy'}}</td>
                </tr>
            </table>
            <br><br><br>
        </div>
    </div>
    <mat-divider [inset]="true"></mat-divider>

    <br><br>
    <br><br>
<br>
</div>