<h6 *ngIf="jobsCoordination?.data.length == 0" >
  <mat-icon>notification_important</mat-icon>
  &nbsp; {{gId?"לא הוצעו משרות עבור הבוגר\\ת":"לא הותאמו בוגרים עבור משרה זו" }} 
</h6>
<div class="container" *ngIf="jobsCoordination?.data.length != 0">
<br>
  <div class="row justify-content-between">
    <h4 class="col-md-4">{{gId?"משרות שהותאמו":"מועמדים למשרה"}}</h4>
<mat-form-field class="col-md-4" *ngIf="!OK">
  <mat-select placeholder="סנן לפי סטטוס"  (selectionChange)="applyFilter($event.value)">
      <mat-option></mat-option>
      <mat-option *ngFor="let s of Eservice.jobCoordinationStatuses" [value]="s.Id">
        {{s.description}} 
      </mat-option>
  </mat-select>
</mat-form-field>
</div>
<div class="row ">
<table mat-table [dataSource]="jobsCoordination"class="col-md-12 mat-elevation-z2"  matSort >
  <!-- Checkbox Column -->
  <ng-container  matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef style="text-align: center !important;width: 6%;">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" style="text-align: center !important;width: 6%;">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [disabled]="!row.linkToCV"
                    [indeterminate]="!row.linkToCV">
      </mat-checkbox> 
    </td>
  </ng-container>
  <ng-container matColumnDef="jobId">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header style="width: 6% !important;"> קוד משרה  </th>
    <td mat-cell *matCellDef="let jc" style="width: 6% !important;"> 
      <a  routerLink="/job-form/{{jc.jobId}}" *ngIf="gId" matTooltip="לפרטי המשרה">{{jc.jobId}}</a>
      <span *ngIf="jId">{{jc.jobId}}</span>
    </td>
  </ng-container>
    <ng-container matColumnDef="jobSubject">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> מקצוע  </th>
      <td mat-cell *matCellDef="let jc"> {{jc.jobSubject.name}} </td>
    </ng-container>
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> חברה  </th>
      <td mat-cell *matCellDef="let jc"> {{jc.companyName}} </td>
    </ng-container>
    <ng-container matColumnDef="candidateName">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> שם המועמד </th>
      <td mat-cell *matCellDef="let jc"> 
      <a routerLink="/graduate-editing/{{jc.candidateId}}" *ngIf="jId" matTooltip="לפרטי הבוגר"> {{jc.candidateName}}</a>
      <span *ngIf="gId">{{jc.candidateName}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 14% !important;"> סטטוס </th>
      <td mat-cell *matCellDef="let jc" style="width: 14% !important;">
        <mat-select  [(ngModel)]="jc.Status.Id">
        <mat-option *ngFor="let s of Eservice.jobCoordinationStatuses" [value]="s.Id">{{s.description}}</mat-option>
      </mat-select>
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width: 6% !important;"></th>
      <td mat-cell *matCellDef="let jc" style="text-align: center;width: 6% !important;"> 
        <button (click)="updateStatus(jc)" mat-icon-button>
            <mat-icon matTooltip="שמור">save</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="dateReceived" >
      <th mat-header-cell *matHeaderCellDef  mat-sort-header class="date"> תאריך רישום </th>
      <td mat-cell *matCellDef="let jc" class="date"> {{jc.dateReceived|date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="lastUpdateDate" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="date">תאריך עדכון אחרון </th>
        <td mat-cell *matCellDef="let jc"class="date" >{{jc.lastUpdateDate|date:'dd/MM/yyyy'}} </td>
      </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"
    [class.disable-row]="!myRowData.linkToCV && OK"></tr>
</table>
  </div>
  <br>
<br>
<div class="row align-items-center" *ngIf="jId && numOfInteresteds > 0 && !OK" >
<span>יש בוגר\ים שנענו להצעת משרה זו תרצה לפנות אותם למעסיק\ איש הקשר?</span> 
<a mat-icon-button [href]="location.path()+'#sendCV'">
 <button (click)="OKsend()" mat-icon-button>
  <mat-icon matTooltip="אישור">done</mat-icon>
</button>
</a>
</div>
<div *ngIf="OK" >
  <div  class="row justify-content-center">
  <mat-form-field  class="col-md-10"   appearance="fill">
    <mat-label>גוף ההודעה</mat-label>
    <textarea matInput 
    #massege
    cdkAutosizeMinRows="10"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"></textarea>
  </mat-form-field>
</div>
<div id="sendCV" class="row justify-content-center">
  <button (click)="exitSend()" mat-raised-button>
    <span>ביטול</span>
  </button>
  <button  [disabled]="this.selection.selected.length <= 0" (click)="SendCVToContact(massege.value)" mat-raised-button>
    <span>שליחת קו"ח למעסיק</span>
  </button>
</div>
</div>
  </div>
  <br>
  <br>
  