 <mat-toolbar>
  <span >בוגרים</span>
  <!-- <span class="example-spacer"></span> -->
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" position="end" opened  >
      <mat-toolbar style="background-color: white;"><span>סינון</span></mat-toolbar>
      <mat-divider [inset]="true"></mat-divider>
      <br>
      <mat-accordion  multi="true">
        <mat-expansion-panel  *ngFor="let item of panelList" class="mat-elevation-z0" >
     <mat-expansion-panel-header >
              {{item.name}}
              <span class="example-spacer"></span>
                     <!-- clear button -->
                     <button style="
                     margin-left: 15px;
                     height:20px !important;
                     width:20px !important;"
                     *ngIf="item.name=='תקופה'?periodValue:item.selecedlist.length>0" 
                     (click)="item.name=='תקופה'?cleanPeriod():item.selecedlist=[];applyFilter(filtering.value);"
                     mat-icon-button>
                      <mat-icon style="
                      margin-top  : -30px;
                      height:14px !important;
                      width:14px !important;
                      font-size:15px !important;" matTooltip="ניקוי">clear</mat-icon>
                    </button>
          </mat-expansion-panel-header>
          <mat-selection-list *ngIf="item.name!='תקופה'" [(ngModel)]="item.selecedlist">
            <mat-list-option  
            checkboxPosition="before" 
            (click)="applyFilter(filtering.value)" 
            [value]="subItem.Id"
            *ngFor="let subItem of item.sublist" >
              <span style="margin-right: 10px;">{{subItem.name}}</span>
            </mat-list-option>
          </mat-selection-list>
           <!-- period  list -->
           <mat-radio-group 
           [(ngModel)]="periodValue" 
           (change)="periodValue == 1 || periodValue == 2 && date.begin != null ? applyFilter(filtering.value):'' "
           *ngIf="item.name=='תקופה'" >
           <!-- radio -->
                <mat-radio-button style="margin: 7px;" value="1">
                  <span class="mat-sidenav-content-item">היום</span>
                </mat-radio-button><br>
                <mat-radio-button style="margin: 7px;" value="2" >
                  <span class="mat-sidenav-content-item">בין התאריכים:</span>
                </mat-radio-button>
                <br>
           <!-- date -->
                <mat-form-field style="max-width: 100%;font-size: 15px;">
                  <input matInput
                      placeholder="בחר טווח"
                      [satDatepicker]="picker"
                      readonly
                      [disabled]="periodValue != 2"
                      [max]="maxDate"
                      [(ngModel)]="date"
                      (click)="picker.open()"
                      (dateChange)="periodValue == 2?applyFilter(filtering.value):''">
                  <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                  <sat-datepicker #picker dir="rtl" [rangeMode]="true" ></sat-datepicker>
                </mat-form-field>
              </mat-radio-group>
        </mat-expansion-panel >
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
<div class="container">
  &nbsp;
  <div class="row justify-content-between">
  <mat-form-field class="col-md-5 ">
    <input matInput (keyup)="applyFilter($event.target.value)" value="" #filtering placeholder=" חיפוש שם">
    <mat-icon matPrefix style="margin: 10px;">search</mat-icon>
  </mat-form-field>
  <div class="col-md-1" style="text-align: center;">
  <a mat-icon-button routerLink="/new-graduate" routerLinkActive="activeLink">
    <mat-icon matTooltip="הוספת בוגר\ים חדש\ים">add</mat-icon>
  </a>
  <span >חדש</span>
  </div>
</div>
<div class="row  table-container" >
  <div class="col-md-12 example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
<mat-icon style="padding-right: 110px;color: #980000;vertical-align: middle">warning</mat-icon>
   &nbsp; ארעה שגיאה      
    </div>
  </div>
  <!-- <div class="row"> -->
  <div class="col-md-12 ">
<table mat-table [dataSource]="graduates" matSort class="mat-elevation-z4">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>  שם </th>
        <td mat-cell *matCellDef="let g"> {{g.Name}}</td>
      </ng-container>
      <ng-container matColumnDef="expertise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> תחום הכשרה </th>
        <td mat-cell *matCellDef="let g"> {{g.expertiseName}} </td>
      </ng-container>
      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> שלוחה </th>
        <td mat-cell *matCellDef="let g"> {{g.branchName}} </td>
      </ng-container>
      <ng-container matColumnDef="endYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > שנת סיום </th>
        <td mat-cell *matCellDef="let g"> {{g.endYear}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let g" style="text-align: center;width:12% !important;"> 
          <a routerLink="/graduate-details/{{g.Id}}" routerLinkActive="activeLink" mat-icon-button>
            <mat-icon  matTooltip="פרטים מלאים">more_horiz</mat-icon>
          </a>
           <a routerLink="/graduate-editing/{{g.Id}}" routerLinkActive="activeLink" mat-icon-button>
            <mat-icon  matTooltip="עריכה">edit</mat-icon>
          </a>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
  <mat-paginator style="margin-top: 7px;" [length]="resultsLength" [pageSizeOptions]="[50, 30, 100, 200]"></mat-paginator>
</div>
</div>
</div>
  </mat-sidenav-content>
  </mat-sidenav-container>
