table {
    width: 98%;
   margin-right: 9px ;
  overflow: auto;
  direction: rtl;
  }
  th,td{
      width: 18%;
  }

//   .example-container {
//     position: absolute;
//    top: 150px;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    // background: #eee;

//  }
 mat-sidenav{
 width: 20%;
 background: rgb(252, 252, 252);
 } 
 mat-sidenav-content{
   background-color: white;
 }