<div mat-dialog-title *ngIf="dataSource?.data.length == 0">
  התאמת בוגרים למשרה
</div>
<h6 *ngIf="dataSource?.data.length == 0" >
  &nbsp; לא נמצאו בוגרים מתאימים ו\או זמינים
  <mat-icon>notification_important</mat-icon>
</h6>

<div  *ngIf="dataSource?.data.length != 0">
<div mat-dialog-title>
  התאמת בוגרים למשרה
  <button mat-button style="width: 20%" 
   (click)="sidenav.toggle()">
  סינון
</button>
</div>
 <mat-dialog-content >
 <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" position="end" #sidenav  >
          <div style="margin: 10px;">
          <mat-checkbox (change)="applyFilter('')" [(ngModel)]="CVFilter">
            <span class="text">קו"ח</span>
          </mat-checkbox>
        </div>
        <div style="margin: 10px;">
          <mat-checkbox (change)="applyFilter('')" [(ngModel)]="graduateFilter">
            <span class="text">בוגר</span>
          </mat-checkbox>
        </div>
        <div style="margin: 10px;">
          <mat-checkbox (change)="applyFilter('')" [(ngModel)]="diplomFilter">
            <span class="text">מדופלם</span>
          </mat-checkbox>
        </div>
        <div style="margin: 10px;">
          <mat-checkbox (change)="applyFilter('')" [(ngModel)]="experienceFilter">
            <span class="text">נסיון בתחום</span>
          </mat-checkbox>
          </div>
          <mat-accordion  multi="true">
            <mat-expansion-panel  *ngFor="let item of panellist" class="mat-elevation-z0" >
              <mat-expansion-panel-header >
                  {{item.name}}
              </mat-expansion-panel-header>
              <mat-selection-list  >
                <mat-list-option  
                  checkboxPosition="before" 
                  (click)="subItem.active=!subItem.active;applyFilter('')" 
                  [selected]="subItem.active" 
                  [value]="subItem.value"
                  *ngFor="let subItem of item.sublist" >
                   <span style="margin-right: 10px;">{{subItem.name}}</span>
                </mat-list-option>
              </mat-selection-list>
            </mat-expansion-panel > 
          </mat-accordion>
        </mat-sidenav>
        <mat-sidenav-content> 
    <br>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="text-align: center !important;width: 10%;">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="text-align: center !important;width: 10%;">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox> 
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>  שם </th>
        <td mat-cell *matCellDef="let g"> {{g.firstName}}&nbsp;{{g.lastName}}</td>
      </ng-container>
      <ng-container matColumnDef="expertise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> תחום הכשרה </th>
        <td mat-cell *matCellDef="let g"> {{g.Expertise.name}} </td>
      </ng-container>
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> עיר </th>
        <td mat-cell *matCellDef="let g"> {{g.City.name}} </td>
      </ng-container>
      <ng-container matColumnDef="endYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bool " > שנת סיום </th>
        <td mat-cell *matCellDef="let g" class="bool "> {{g.endYear}} </td>
      </ng-container>
      <ng-container matColumnDef="hasExperience" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bool " > ניסיון בתחום </th>
        <td mat-cell *matCellDef="let g" class="bool " > 
          <mat-icon> {{g.hasExperience?"check":""}}</mat-icon>
        </td>
      </ng-container> 
      <ng-container matColumnDef="hasCV" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bool " >  קו"ח </th>
        <td mat-cell *matCellDef="let g" class="bool " > 
          <mat-icon> {{g.linkToCV?"check":""}}</mat-icon>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
</table>
<br>
</mat-sidenav-content>
</mat-sidenav-container>
</mat-dialog-content>
</div>
<mat-dialog-actions>
    <button mat-button color="primary" (click)='addCoordination()' [disabled]="selection.isEmpty()"  >שלח הצעת משרה</button>
    <button mat-button color="primary" mat-dialog-close cdkFocusInitial>ביטול</button>
  </mat-dialog-actions>