<mat-toolbar>
    <span >תרשימים</span>
    </mat-toolbar>
<div class="container">
    <br><br>
<mat-vertical-stepper linear  #stepper >
    <ng-template matStepperIcon="edit" let-index="index">
        <mat-icon *ngIf="index == lastIndex">bar_chart</mat-icon>
        <mat-icon *ngIf="index != lastIndex">edit</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done" let-index="index">
        <mat-icon *ngIf="index == lastIndex">bar_chart</mat-icon>
        <mat-icon *ngIf="index != lastIndex">done</mat-icon>
    </ng-template>

    <mat-step *ngIf="authService.user.Permission.Id == 1" [stepControl]="UserFormGroup">
      <ng-template matStepLabel>
        <span class="text">בחר משתמש</span>
      </ng-template>
       <mat-radio-group [(ngModel)]="userid">
        <span *ngFor="let u of Lservice.users">
          <mat-radio-button [value]="u.Id"><span class="text">{{u.name}}</span></mat-radio-button>
          <br>
        </span>
        <button mat-icon-button matStepperNext >
          <mat-icon class="arrow"  matTooltip="הבא">arrow_back_ios</mat-icon>
      </button>
        </mat-radio-group>
    </mat-step>
    <mat-step [stepControl]="typeFormGroup" >
      <ng-template matStepLabel>
        <span [ngStyle]="{'color': stepper.selectedIndex == typeIndex && hasError('type', 'required') ? 'red' : 'black'}" class="text">בחר תרשים- *חובה </span>
    </ng-template>
      <form [formGroup]="typeFormGroup">
            <mat-radio-group  aria-label="Select an option" formControlName="type" required>
              <mat-radio-button value="1"><span class="text">משרות שנפתחו</span></mat-radio-button><br>
              <mat-radio-button value="2"><span class="text">בוגרים מול משרות</span></mat-radio-button><br>
              <mat-radio-button value="3"><span class="text">השמות</span></mat-radio-button>
            </mat-radio-group>
        <div class="row">
          <button mat-icon-button matStepperPrevious *ngIf="authService.user.Permission.Id == 1" >
            <mat-icon class="arrow" matTooltip="הקודם">arrow_forward_ios</mat-icon>
        </button> 
          <button mat-icon-button matStepperNext >
            <mat-icon class="arrow"  matTooltip="הבא">arrow_back_ios</mat-icon>
        </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="detailsFormGroup">
      <form [formGroup]="detailsFormGroup">
        <ng-template matStepLabel>
          <span class="text">התאם פרטים</span>
        </ng-template>
      <div  *ngIf="typeFormGroup.value.type == 1 || typeFormGroup.value.type == 3">

        <span class=" example-chip-list"> הגדר טווח תאריכים:</span><br>
        <mat-form-field class="example-chip-list" >
          <input matInput #start [matDatepicker]="spicker" formControlName='startDateValue' placeholder="מהתאריך"  id="startDateValue" 
              readonly [min]="minDate" [max]="maxDate" (click)="spicker.open()">
          <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
          <mat-datepicker dir="rtl"  #spicker></mat-datepicker>
        </mat-form-field><br>
        <span style="font-size: 18px;"><b>-</b></span><br>
        <mat-form-field class="example-chip-list">
          <input matInput #end [matDatepicker]="epicker" formControlName='endDateValue' placeholder="עד התאריך"  id="endDateValue" 
              readonly [min]="minDate" [max]="maxDate" (click)="epicker.open()">
          <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
          <mat-datepicker dir="rtl"  #epicker></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="start.value && end.value && start.value > end.value">טווח לא תקין</mat-error>
        <br>
        <div class="row">
          <button mat-icon-button matStepperPrevious >
            <mat-icon class="arrow" matTooltip="הקודם">arrow_forward_ios</mat-icon>
        </button>
          <button mat-icon-button matStepperNext 
              [disabled]="(!!start.value && !!end.value && start.value > end.value)" (click)="initChart();">
            <mat-icon class="arrow" matTooltip="הבא">arrow_back_ios</mat-icon>
        </button>
        </div>
      </div>
      <div *ngIf="typeFormGroup.value.type == 2">
        <!-- <mat-form-field class="example-chip-list">
      
          <mat-chip-list #chipList >
            <mat-chip
              *ngFor="let branch of detailsFormGroup.value.branches"
              removable="true"
              (removed)="remove(branch)">
              <mat-icon matChipRemove >cancel</mat-icon>
                {{branch.name}}
            </mat-chip>
            <input
              placeholder="בחר שלוחות"
              #brachInput
              [formControl]="branchCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="selected($event)">
            <mat-option *ngFor="let branch of filteredBranches | async " [value]="branch">
              {{branch.name}}
            </mat-option>
          <mat-option *ngIf="autoLength==0" style="text-align: center !important;" value="X">נא לבחור שלוחות הקיימות במערכת</mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        <mat-form-field  class="example-chip-list">
          <mat-select color="accent" formControlName="branches" multiple placeholder="בחר שלוחות" >
        <mat-select-trigger>
          <mat-chip-list>
            <mat-chip  *ngFor="let branch of detailsFormGroup.value.branches"
              [removable]="true" (removed)="onBrachRemoved(branch)">
              <mat-icon matChipRemove>cancel</mat-icon>
              {{ branch.name }}
            </mat-chip>
          </mat-chip-list>
        </mat-select-trigger>
        <mat-option *ngFor="let optBranch of Lservice.branches" [value]="optBranch">
          <span class="text" >{{optBranch.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
        <br>
        <mat-form-field  class="example-chip-list">
              <mat-select formControlName="areas" multiple placeholder="בחר איזורים" >
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip *ngFor="let areaVal of detailsFormGroup.value.areas"
                  [removable]="true" (removed)="onAreaRemoved(areaVal)">
                  <mat-icon matChipRemove>cancel</mat-icon>
                  {{ areaVal }}
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <mat-option *ngFor="let optArea of Lservice.areas" [value]="optArea">
              <span>{{optArea}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <div class="row">
          <button mat-icon-button matStepperPrevious >
            <mat-icon class="arrow" matTooltip="הקודם">arrow_forward_ios</mat-icon>
        </button>
          <button mat-icon-button matStepperNext (click)="initChart();">
            <mat-icon class="arrow" matTooltip="הבא">arrow_back_ios</mat-icon>
        </button>
        </div>
      </div>
      </form>
    </mat-step>

    <mat-step >
      <ng-template matStepLabel >
        <span class="text">הצגת תרשים</span></ng-template>
      <br><br>
      <div class="row justify-content-center">
        <div class="col-md-12" style="display: block">
          <canvas baseChart 
              [datasets]="barChartData" 
              [labels]="barChartLabels" 
              [options]="barChartOptions"
              [legend]="barChartLegend" 
              [chartType]="barChartType" 
              [colors]="chartColors">
          </canvas>
        </div>
      </div>
      <br>
      <div class="row justify-content-between">
        <div class="col-md-4">
            <button mat-icon-button matStepperPrevious >
                <mat-icon class="arrow" matTooltip="הקודם">arrow_forward_ios</mat-icon>
            </button>
            <button mat-icon-button (click)="stepper.reset();" >
                <mat-icon matTooltip="רענן">refresh</mat-icon>
            </button>
          </div>  
        <button class="col-md-2"  mat-button (click)="randomize()">החלפת תרשים</button>
    </div>
    <br><br>
    </mat-step>
  </mat-vertical-stepper>
</div>
    