.mat-stepper-vertical {
    margin-top: 8px;
  }
.arrow{
    margin-right  : -8px;
    margin-top  : -5px;
    height:20px !important;
    width:20px !important;
    font-size:20px !important;
}
.mat-radio-button{
  margin-top: 8px;
  margin-right: 40px;
}

.example-chip-list {
  width: 100%;
}