table,mat-paginator {
    width: 100%;
    }
    td, th {
      width: 17.5%;
      padding-right: 5px !important;
    }
    
      ::ng-deep .mat-paginator {
      
        // override material paginator page switch
        // .mat-paginator-range-label {
        //     order: 2;
        // }
        .mat-paginator-navigation-previous {
            // order: 1;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        .mat-paginator-navigation-next {
            // order: 3;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    ::ng-deep .mat-tooltip {
      background: rgb(93, 94, 93) !important;
      font-size: 14px;
  }

    //// for lazy louding
    .table-container {
      position: relative;
    justify-content: center;
    min-height: 140px;
    }
    .example-loading-shade {
      position: absolute;
      top: 0;
      // left: 0;
      bottom: 0; 
      // right: 0;
      width: 97.5%;
      background: rgba(0, 0, 0, 0.15);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .example-rate-limit-reached {
      color: #980000;
      max-width: 360px;
      text-align: center;
      font-size: 22px;
    }