/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }

body,ng-template,mat-dialog-content{ margin:1 ;  direction: rtl; text-align: right;font-family: 'Varela Round', sans-serif;}
span,th,td,.mat-paginator,ng-template,mat-expansion-panel,mat-list,.matStepLabel,p,Input,.mat-error,label ,.mat-tooltip,a,pre,mat-chip,textarea,div,mat-dialog-title{font-family: 'Varela Round', sans-serif !important;}

// .mat-icon-button {
//     color: rgb(93, 94, 93) !important;
//   }
.mat-icon-button:hover
{
  background-color:rgb(239, 240, 236);     
  color: rgb(255, 214, 0);//rgb(31, 94, 52);
  border-radius: 240px;
}
.mat-toolbar {
    height: 80px !important;
  }
.mat-form-field,.mat-select {
    font-size: 15px;
    text-align: right !important;
  }
.mat-tooltip {
    direction: rtl !important;
  }
th.date,td.date{
  width: 11% !important;
}
th.bool,td.bool{
  width: 12% !important;
}
a.mat-button{
  color:rgb(20, 84, 41);
  font-size: 18px;
  text-decoration-line: none !important; 
  font-weight: bold;
}
// a[tabindex]:focus {

//   color:rgb(95, 14, 14);

// }
.mat-option{
  direction: rtl !important;
  text-align: right !important;
}
span.text{
  margin-right:8px;
  font-size: 15px;
}
pre{
  font-size: 14px;
}
.spacer {
  flex: 1 1 auto;
} 
.err-msg{ 
  font-size: 16px !important;
  text-align: center;
  .mat-simple-snackbar-action {
    //font-weight: bolder !important;
    color: #D50000 !important;
}
}
.mat-toolbar{
  color:rgb(20, 84, 41) !important;
  font-size: 23px !important;
  padding-right: 40px !important;
}

.cdk-overlay-connected-position-bounding-box[dir="rtl"] {
  .mat-datepicker-content {
  .mat-calendar {
  .mat-calendar-content {
  .mat-calendar-body {
  .mat-calendar-body-cell {
  &.mat-calendar-body-begin-range {
  border-radius: 0 100% 100% 0;
  }
  &.mat-calendar-body-end-range {
  border-radius: 100% 0 0 100%;
  }
  }
  }
  }
  }
  }
  }

/*font-family: 'Arimo', sans-serif;
font-family: 'Varela Round', sans-serif;*/
// font-family: 'Anton', sans-serif;
// font-family: 'Lobster', cursive;