/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }

body{ margin:1 ;  direction: rtl; text-align: right;font-family: 'Varela Round', sans-serif;}
span,th,td,.mat-paginator,mat-expansion-panel,mat-list,p,Input,.mat-error,label ,.mat-tooltip,a{font-family: 'Varela Round', sans-serif !important;}

.mat-icon-button {
    color: rgb(93, 94, 93);
  }
.mat-icon-button:hover
{
   background-color:rgb(237, 237, 237);     
  color: black;
   border-radius: 240px;
}
.mat-toolbar {
    height: 80px !important;
  }
.mat-form-field,.mat-select {
    font-size: 16px;
    text-align: right !important;
  }
.mat-tooltip {
    direction: rtl !important;
  }
th.date,td.date{
  width: 12% !important;
}
a.mat-button{
  color:rgb(22, 11, 71);
  font-size: 18px;
  text-decoration-line: none !important;
      // color:rgb(22, 11, 71) !important;
}
.mat-option{
  direction: rtl !important;
  text-align: right !important;
}
/*font-family: 'Arimo', sans-serif;
font-family: 'Varela Round', sans-serif;*/
// font-family: 'Anton', sans-serif;
// font-family: 'Lobster', cursive;