<br>
<div class="container">
<form [formGroup]="graduateForm" autocomplete novalidate (ngSubmit)="createGraduate(graduateForm.value)" >
  <div class="row">
  <mat-form-field class="col-md-3">
        <input matInput type="text" placeholder='ת"ז' formControlName="Id" required [readonly]="graduate.Id!=null"> 
        <mat-error *ngIf="hasError('Id', 'required')">זהו שדה חובה!</mat-error>
        <mat-error *ngIf="hasError('Id', 'pattern')">הזן מספר זהות חוקי בעל 9 ספרות</mat-error>
    </mat-form-field >
    <mat-form-field class="col-md-3"> 
        <input matInput type="text" placeholder="שם משפחה" formControlName="lastName" required >
        <mat-error *ngIf="hasError('lastName', 'required')">זהו שדה חובה!</mat-error>
        <mat-error *ngIf="hasError('lastName', 'maxlength')">אפשרי עד 50 תווים</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <input matInput type="text" placeholder="שם פרטי" formControlName="firstName" required >
        <mat-error *ngIf="hasError('firstName', 'required')">זהו שדה חובה!</mat-error>
        <mat-error *ngIf="hasError('firstName', 'maxlength')">אפשרי עד 50 תווים</mat-error>
      </mat-form-field>
      </div>
      <br>
      <div class="row">
    <mat-form-field class="col-md-3">
        <input matInput [matDatepicker]="picker" placeholder="תאריך לידה" formControlName="dateOfBirth" id="dateOfBirth" 
            required readonly [max]="maxDate" [min]="minDate" (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker dir="rtl"  #picker></mat-datepicker>
        <mat-error *ngIf="hasError('dateOfBirth', 'required')">זהו שדה חובה!</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-3"> 
        <mat-select placeholder="מגדר" formControlName="gender" required >
          <mat-option value="זכר">זכר</mat-option>
          <mat-option value="נקבה">נקבה</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('gender', 'required')">נא לבחור מגדר</mat-error>
      </mat-form-field>
  </div>
      <br>
      <div class="row">
        <mat-icon style="align-self: center;text-align: center;">pin_drop</mat-icon>
        <mat-form-field class="col-md-3"> 
          <mat-select placeholder="עיר" formControlName="city" required>
            <mat-option *ngFor="let c of Eservice.cities" [value]="c">{{c.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('city', 'required')">נא לבחור עיר</mat-error>
        </mat-form-field>
      <mat-form-field class="col-md-3">
        <input matInput type="text" placeholder="כתובת" formControlName="address" >
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input matInput type="text" placeholder="מיקוד" formControlName="zipCode" >
        <mat-error *ngIf="hasError('zipCode', 'pattern')">הזן מיקוד חוקי</mat-error>
      </mat-form-field>
    </div>
      <br>
      <div class="row">
      <mat-form-field class="col-md-3">
        <input matInput type="tel" placeholder='פלאפון' formControlName="phone" required >
        <mat-icon matSuffix>call</mat-icon>
        <mat-error *ngIf="hasError('phone', 'required')">זהו שדה חובה!</mat-error>
        <mat-error *ngIf="hasError('phone', 'pattern')">הזן מס' פלאפון חוקי</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <input matInput type="email" placeholder='דוא"ל' formControlName="email" required style="direction: ltr;" >
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="hasError('email', 'required')">זהו שדה חובה!</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">הזן כתובת דוא"ל חוקית</mat-error>
        <mat-error *ngIf="hasError('email', 'maxlength')">אפשרי עד 50 תווים</mat-error>
      </mat-form-field>
      </div>
      <br>
      <!-- <div class="row">
        <li *ngFor="let gl of graduate.Languages">
        <mat-form-field class="col-md-4">
          <mat-select placeholder="שפה"  formControlName="languages" [(ngModel)]="gl.languageId" >
            <mat-option *ngFor="let l of languages" [value]="l.Id">{{l.name}}</mat-option>
          </mat-select>
          </mat-form-field>
          <mat-checkbox class="col-md-3" formControlName="languages" [(ngModel)]="gl.level" >
            <span class="text">שפת אם</span>
          </mat-checkbox>
        </li>
      </div>
      <br> -->
      <div class="row">
        <mat-form-field class="col-md-3">
        <mat-select placeholder="שלוחה" formControlName="branch" required>
          <mat-option *ngFor="let b of Lservice.branches" [value]="b">{{b.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('branch', 'required')">נא לבחור שלוחה</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-3"> 
        <mat-select placeholder="תחום הכשרה" formControlName="expertise" required>
          <mat-option *ngFor="let e of Lservice.expertise" [value]="e">{{e.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('expertise', 'required')">נא לבחור תחום הכשרה</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input matInput type="text" (change)="onStartYearChange(startY.value)" #startY placeholder="שנת תחילת הלימודים" formControlName="startYear" required >
        <mat-error *ngIf="hasError('startYear', 'required')">זהו שדה חובה!</mat-error>
        <mat-error *ngIf="hasError('startYear', 'max')">שנת ההתחלה לא תקינה</mat-error>
        <mat-error *ngIf="hasError('startYear', 'pattern')">הזן שנה לועזית חוקית</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-2">  
        <input matInput type="text" placeholder="שנת סיום הלימודים" formControlName="endYear" required >
        <mat-error *ngIf="hasError('endYear', 'required')">זהו שדה חובה!</mat-error>
        <mat-error *ngIf="hasError('endYear', 'min')">שנת סיום קטנה משנת ההתחלה</mat-error>
        <mat-error *ngIf="hasError('endYear', 'pattern')">הזן שנה לועזית חוקית או 'טרם'</mat-error>
      </mat-form-field>
      </div>
        <br>
      <div class="row">
      <mat-checkbox class="col-md-3" formControlName="didGraduate">
          <span class="text">בוגר לימודים</span>
        </mat-checkbox>
        <mat-checkbox class="col-md-3" formControlName="hasDiploma">
          <span class="text">מדופלם</span>
        </mat-checkbox>
        <mat-checkbox class="col-md-3" formControlName="hasExperience">
          <span class="text">נסיון מקצועי בתחום</span>
        </mat-checkbox>
        <mat-checkbox class="col-md-3" #isWork formControlName="isWorkerInProfession">
          <span class="text">עובד בתחום</span>
        </mat-checkbox>
      </div>
      <br>
      <div class="row align-items-center" *ngIf="isWork.checked">
        <mat-form-field class="col-md-3">  
          <input matInput type="text" placeholder="שם החברה" formControlName="companyName" >
        <mat-error *ngIf="hasError('companyName', 'maxlength')">אפשרי עד 50 תווים</mat-error>
      </mat-form-field>
        <mat-form-field class="col-md-3">  
          <input matInput type="text" placeholder="תפקיד" formControlName="role" >
        <mat-error *ngIf="hasError('role', 'maxlength')">אפשרי עד 50 תווים</mat-error>
      </mat-form-field>
        <mat-checkbox class="col-md-3" formControlName="placedByThePlacementDepartment" >
          <span class="text">הושם ע"י מחלקת ההשמה</span>
        </mat-checkbox>
      </div>
      <br>
      <div class="row"> 
        <mat-checkbox class="col-md-3" formControlName="isActive">
          <span class="text">פעיל</span>
        </mat-checkbox>
        </div>
      <br><br>
      <div class="row"> 
        <mat-form-field class="col-md-5">
          <ngx-mat-file-input formControlName="uploadfile" placeholder='העלאת קובץ קו"ח'  accept=".doc,.docx,.pdf"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        </div>  <br>
      <div style="text-align: center;">
        <button mat-raised-button type="button" (click)="onCancel()">ביטול</button>&nbsp;
        <button mat-raised-button type="submit" [disabled]="graduateForm.invalid||!graduateForm.dirty">{{graduate.Id==null?"הוסף":"עדכן"}}</button>  
      </div>
</form>
<br><br><br>
</div>