:host {
    display: block;
    // background: rgb(245, 245, 245);
    // text-align: center;
    color: rgb(218, 168, 7);  //rgb(31, 94, 52);
   }

.title{
    font-size: 95px;
    font-weight: bold;
}
        