
 section{   
    width: 100%;   
}  
mat-toolbar {
      height: 55px !important;
      position: sticky;
      position: -webkit-sticky; /* For macOS/iOS Safari */
      top: 0; /* Sets the sticky toolbar to be on top */
      z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    }
 article  {     
     width:  100% ;  
    } 




