
 section{   
    width: 100%;   
     background-color:  white;  
     }  
article  {     
     float: right;  
     width:  100% ;  
     background-color:White; 
   } 

a{
    color:rgb(23, 14, 61);
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}