mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    padding:0 !important;

  }
  
  mat-form-field {
      width: 75%;   
//     display: block;
  }

  mat-card-title{
    background-color:lightgray !important;
    padding:5px !important;
    color:rgb(36, 19, 110);
  }
  
  mat-card-content{
    padding:20px !important;
  }
  mat-toolbar{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    // color:rgb(36, 19, 110);
  }