<div mat-dialog-title style="text-align: center !important;">
    <mat-icon  *ngIf="data.type=='E'"  color="warn">warning</mat-icon>
    <mat-icon  *ngIf="data.type=='I'"  color="accent">new_releases</mat-icon>
  </div>
  <mat-dialog-content>
    <div>{{data.desc}}</div>
    <br>
    <span *ngFor="let item of data.items;  let last = last;">
        {{item}}
      <span  *ngIf="!last">,<br></span>
    </span>.
  </mat-dialog-content>
  <br>
  <mat-dialog-actions>
    <button mat-button *ngIf="data.type=='I'" color="primary" [mat-dialog-close]="true">אישור</button>
    <button mat-button *ngIf="data.type=='I'" color="primary"  mat-dialog-close cdkFocusInitial>ביטול</button>
    <button mat-button *ngIf="data.type=='E'" color="primary" mat-dialog-close>אישור</button>
    </mat-dialog-actions>