<div mat-dialog-title>
    <!-- <mat-icon style="padding-right: 130px;" color="warn">warning</mat-icon> -->
    <span> {{title}} </span><br>
    <span *ngIf="name == '0'" class="note">יש להחליף את הסיסמה ההתחלתית</span>

  </div>
  <form [formGroup]="passwordForm">
  <mat-dialog-content>
        <mat-form-field hintLabel="מינימום 6 תווים">
          <input id="newPassword" type="password" autocomplete="off" matInput #password placeholder="סיסמה חדשה" formControlName="password" required>
          <mat-error *ngIf="passwordForm.hasError('required', 'password')">
              נא הזן סיסמה חדשה
          </mat-error>
        </mat-form-field>
      <br>
        <mat-form-field>
          <input id="cnfPassword" type="password" autocomplete="off" matInput placeholder="אישור סיסמה" formControlName="confirmPassword" pattern="{{ password.value }}" required>
          <mat-error *ngIf="passwordForm.hasError('pattern', 'confirmPassword')">
            סיסמאות לא תואמות 
          </mat-error>  
        </mat-form-field>
    </mat-dialog-content>
    <br>
    <mat-dialog-actions>
      <button mat-button color="primary" type="submit" [disabled]="passwordForm.invalid" [mat-dialog-close]="password.value">אישור</button>
      <button mat-button color="primary" mat-dialog-close cdkFocusInitial>ביטול</button>
    </mat-dialog-actions>
</form>
