<mat-toolbar>
    <span >התאמת הכשרות למקצועות</span>
</mat-toolbar>
<br>
<br>
<div class="container">
<form [formGroup]="listForm" class="row justify-content-center">
<div formArrayName="array" class="col-md-11">
    <li [formGroup]="dataForm">
        <button [disabled]="dataForm.invalid" type="button" mat-icon-button (click)="add()" >
          <mat-icon matTooltip="הוספה">add_circle_outline</mat-icon>
        </button>
        <mat-form-field class="col-md-4"> 
            <input type="text" #expertiseInpt placeholder="תחום הכשרה" matInput required formControlName="expertise" [matAutocomplete]="autoe">
            <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn" #autoe="matAutocomplete">
              <mat-option *ngFor="let e of Lservice.expertises | filter:expertiseInpt.value" [value]="e">
                {{e.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="dataForm.get('expertise').hasError('required')">נא לבחור תחום הכשרה</mat-error>
            <mat-error *ngIf="dataForm.get('expertise').hasError('invalidExpertise')">הזן הכשרה קיימת במערכת</mat-error>
        </mat-form-field>
        <->
        <mat-form-field class="col-md-4">
            <input type="text" #subjectInpt placeholder="מקצוע" matInput required formControlName="subject" [matAutocomplete]="autos">
            <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn" #autos="matAutocomplete">
            <mat-option *ngFor="let s of Lservice.subjects | filter:subjectInpt.value" [value]="s">
                {{s.name}}
            </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="dataForm.get('subject').hasError('required')">נא לבחור תחום</mat-error>
            <mat-error *ngIf="dataForm.get('subject').hasError('invalidSubject')">הזן תחום קיים במערכת</mat-error>
        </mat-form-field>
    </li>
    <li *ngFor="let c of listForm.get('array').controls; let i = index;" [formGroupName]="i" >
        <button type="button" mat-icon-button (click)="remove(i)" >
            <mat-icon  matTooltip="הסרה">remove_circle_outline</mat-icon>
        </button>
        <mat-form-field class="col-md-4">
            <input type="text" matInput readonly formControlName="expertise">
        </mat-form-field> 
        <->
        <mat-form-field class="col-md-4">
            <input type="text" matInput readonly formControlName="subject">
        </mat-form-field>   
    </li>
  </div>
</form>
</div>
<br>
<br>