table {
  width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    text-align: right;
  }

//   ::ng-deep .mat-paginator {
   
//     // override material paginator page switch
//     .mat-paginator-range-label {
//         order: 2;
//     }

//     .mat-paginator-navigation-previous {
//         order: 1;
//     }
//     .mat-paginator-navigation-next {
//         order: 3;
//     }
// }
  td, th {
    width: 45%;
  }
  .example-icon {
     padding-left: 200px;    
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
 
  .example-container {
     position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    // background: #eee;
  }
  mat-sidenav{
  width: 20%;
  background: rgb(252, 252, 252);
  } 
  mat-sidenav-content{
    background-color: white;
  }